/* Very Smol Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: Fanwood;
  src: url(/design/fonts/fanwood/fanwood-webfont.woff);
}

@font-face {
  font-family: Fanwood;
  src: url(/design/fonts/fanwood/fanwood_italic-webfont.woff);
  font-style: italic;
}

@font-face {
  font-family: "Fanwood Text";
  src: url(/design/fonts/fanwood/fanwood_text-webfont.woff);
}

@font-face {
  font-family: "Fanwood Text";
  src: url(/design/fonts/fanwood/fanwood_text_italic-webfont.woff);
  font-style: italic;
}

/* Layout */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;
  font-family: Fanwood, serif;
  font-size: 1.4em;
  line-height: 1.2em;
  color: #222;
}

body > * {
  --layout-spacing: max(8vh, 3rem);
  --max-width: 60ch;
  width: min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
}

header h1 {
  font-size: 4em;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -1rem;
  margin-right: -1rem;
  vertical-align: bottom;
}

nav ul li {
  padding: 0.5rem 1rem;
}

nav [aria-current="page"] {
  font-weight: bold;
}

main,
main > * + * {
  margin-top: var(--layout-spacing);
}

body > footer {
  margin-top: auto;
  padding-top: var(--layout-spacing);
}

body > footer div {
  border-top: 1px solid #ccc;
  padding-top: 0.5em;
  font-size: 0.9rem;
  color: #767676;
}

article * + * {
  margin-top: 1em;
}

article > h1 {
  margin-top: 0;
}

article > h1 a {
  text-decoration: none;
  color: #000;
}

article > h1 + .updated {
  margin-top: 0;
}


/* Typography */
:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h1, h2) {
  max-width: 40ch;
}



.updated {
  font-size: 0.8em;
  color: #aaa;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}

a {
  color: navy;
  text-underline-offset: 0.08em;
}

a:focus {
  outline: 1px solid currentColor;
  outline-offset: 0.2em;
}

/* Media */
article + article {
  border-top: 1px dashed #ccc;
  padding-top: var(--layout-spacing);
}

article img {
  display: block;
  width: 100%;
  margin: 2rem auto;
}

/* Supporting Content */

code:not([class*="language"]) {
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1.75ex;
  color: #444;
  background-color: rgba(0, 0, 0, 0.1);
  padding-right: 0.15em;
  padding-left: 0.15em;
}

blockquote {
  margin: 2rem 0;
  padding: 0.5em 1rem;
  border-left: 3px solid rgba(0, 0, 0, 0.35);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0 0.25rem 0.25rem 0;
}
